/***** Grid *****/
.flex-small, .flex-large {
  flex-basis: 100%;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

@media (min-width: 600px) {
  .flex-small {
    flex: 1 1 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1000px) {
  .flex-large {
    flex: 1 1 0;
    margin-bottom: 0;
  }
}

/***** Tables *****/
table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #dedede;
}

tfoot th {
  border-top: 2px solid #dedede;
}

td {
  padding: 0.5rem;
  text-align: left;
}